<!DOCTYPE html>
<html>
    <body>
        <% if true %>
            <h1>This HTML will be included!</h1>
        <% end %>
        <% if false %>
            <h1>This won't!</h1>
        <% end %>
    </body>
</html>


