<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title>My Movies</title>
    </head>
    <body>
        <h1>My Movies</h1>
        <ul>
            <li><%= "A string" %></li>
            <li><%= 15.0 / 6.0 %></li>
            <li><%= Time.now %></li>
        </ul>
        <a href="/movies/new">Add New Movie</a>
    </body>
</html>


